name: Latest blog post workflow
on:
  schedule:
    - cron: '0 0 * * *' # Runs daily at midnight UTC
  workflow_dispatch: # Allows manual trigger

jobs:
  update-readme-with-blog:
    name: Update README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://www.polunzh.com/atom.xml"
          max_post_count: 1
          template: "> **$title**$newline>$newline> $description$newline>$newline> $url"
          item_exec: "post.description = (post.summary || post.content || '').replace(/<[^>]*>/g, '').slice(0, 200) + '...'"
